* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$hero-text: #f5f5f5;
$cta-background: #ffffff;
$brand-accent: #414141;
$nav-text: black;
$section-dark: #1a1a1a;
$card-overlay: #ffffff1a;

//responsive
@media screen {
    
}